@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f9fafb;
}

::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}